.ResultContainer{
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: flex-start; */
    /* flex-direction: column; */
}
.ResultContainer > div{
    /* text-align: center; */
    padding: 1rem;
    margin: 1rem;
    /* background-color: aliceblue; */
    background-color: whitesmoke;
    border-radius: 1rem;
    box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.57);
}

.ResultContainer ul{
    width: 100%;
    margin-top: 1rem;
}
.ResultListItem{
    width: 100%;
}
.ResultListItem > div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.ResultListItem a{
    text-decoration: none;
    color: black;
    font-size: small;
}
.ResultListItem button{
    padding: 0rem 2rem;
    margin-right: 2rem;
    font-size: larger;
    font-weight: 500;
    text-transform: uppercase;
    /* width: 2%; */
}
.ResultListItem > div >div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ResultContainer li{
    margin: 2rem 0rem;
    list-style: none;
}

.ResultMain{
    width:70%;
    overflow: auto;
}

.green{
    color: green;
}

.yellow{
    color: orange;
}

.red{
    color: red;
}

.ResultRelated{
    width:30%;
}

.ResultContainer > div > div{
    text-decoration: underline;
    font-size: x-large;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
}
.ResultTitleContainer{
    width:100%;
    display:flex;
    justify-content: space-between;
}
.ResultTitleContainer > span{
    width: 20%;
}
.Difficulty{
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    /* color: ; */
}

.ResultRelated li{
    margin: 0px;
    padding: 0.7rem 0.4rem;
    /* font-size: smaller; */
    border-bottom: 2px solid rgba(0, 0, 0, 0.434);
}

.ResultRelated li:hover{

    background-color: rgb(186, 223, 255);
    cursor: pointer;
}

.ResultRelatedLink{
    font-size: larger;
    text-transform: capitalize;
    /* text-align: center; */
    /* text-decoration: underline; */
    /* padding: 0rem 1rem; */
    margin: 0px;
}
.ResultTitleText{
    font-size: larger;
    text-align: left;
    display: block;
    /* text-decoration: underline; */
    width: 60% !important; 
}